Repository Mukund-29/finsight-ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:test, backend:package, backend:docker, frontend:build, frontend:docker

.gitlab-ci.yml:

stages:
  - build
  - test
  - docker-build
  - deploy

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  JAVA_VERSION: "17"

# Cache Maven dependencies
cache:
  paths:
    - .m2/repository/
    - backend-springboot/target/

# Backend Build Job
backend:build:
  stage: build
  image: maven:3.9-eclipse-temurin-17
  only:
    changes:
      - backend-springboot/**/*
      - .gitlab-ci.yml
  script:
    - cd backend-springboot
    - mvn clean compile
  artifacts:
    paths:
      - backend-springboot/target/
    expire_in: 1 hour

# Backend Test Job
backend:test:
  stage: test
  image: maven:3.9-eclipse-temurin-17
  only:
    changes:
      - backend-springboot/**/*
      - .gitlab-ci.yml
  script:
    - cd backend-springboot
    - mvn test
  artifacts:
    reports:
      junit:
        - backend-springboot/target/surefire-reports/TEST-*.xml
    expire_in: 1 week

# Backend Package Job
backend:package:
  stage: build
  image: maven:3.9-eclipse-temurin-17
  only:
    changes:
      - backend-springboot/**/*
      - .gitlab-ci.yml
  script:
    - cd backend-springboot
    - mvn package -DskipTests
  artifacts:
    paths:
      - backend-springboot/target/*.jar
    expire_in: 1 day

# Docker Build Job
backend:docker:
  stage: docker-build
  image: docker:24
  services:
    - docker:24-dind
  only:
    changes:
      - backend-springboot/**/*
      - backend-springboot/Dockerfile
      - .gitlab-ci.yml
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - cd backend-springboot
    - docker build -t $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA -t $CI_REGISTRY_IMAGE/backend:latest .
    - docker push $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    - docker push $CI_REGISTRY_IMAGE/backend:latest
  after_script:
    - docker logout $CI_REGISTRY

# Frontend Build Job (if needed)
frontend:build:
  stage: build
  image: node:20
  only:
    changes:
      - frontend-angular/**/*
      - .gitlab-ci.yml
  script:
    - cd frontend-angular
    - npm ci
    - npm run build
  artifacts:
    paths:
      - frontend-angular/dist/
    expire_in: 1 hour

# Frontend Docker Build Job
frontend:docker:
  stage: docker-build
  image: docker:24
  services:
    - docker:24-dind
  only:
    changes:
      - frontend-angular/**/*
      - frontend-angular/Dockerfile
      - .gitlab-ci.yml
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - cd frontend-angular
    - docker build -t $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA -t $CI_REGISTRY_IMAGE/frontend:latest .
    - docker push $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    - docker push $CI_REGISTRY_IMAGE/frontend:latest
  after_script:
    - docker logout $CI_REGISTRY

Fix pom.xml name tag for Maven build compatibility
  backend-springboot/pom.xml
Due: backend:build, backend:test, backend:package, backend:docker

Fix Docker image loading in GitHub Actions workflow
  .github/workflows/backend-ci.yml
Due: none

Add author information: Mukund Kute
  backend-springboot/README.md
  backend-springboot/pom.xml
  backend-springboot/src/main/java/com/finsight/FinsightApplication.java
  backend-springboot/src/main/java/com/finsight/controller/FlowAiController.java
  backend-springboot/src/main/resources/application.properties
Due: backend:build, backend:test, backend:package, backend:docker

Fix CI/CD build failures - Update backend CI to use /actuator/health endpoint instead of removed /api/flow-ai/health - Fix frontend test to check for router-outlet instead of non-existent title
  .github/workflows/backend-ci.yml
  frontend-angular/src/app/app.spec.ts
Due: frontend:build, frontend:docker

Increase Angular component style budget limits - Increase maximumWarning from 4kB to 8kB - Increase maximumError from 8kB to 12kB - Fixes build failure for dashboard and request-detail components
  frontend-angular/angular.json
Due: frontend:build, frontend:docker

Add password encryption, loading spinners, CORS config, and UI improvements
  BUILD_AND_DEPLOY.md
  DEPLOYMENT.md
  PASSWORD_ENCRYPTION.md
  PORT_CONFIGURATION.md
  QUICK_START.md
  backend-springboot/src/main/java/com/finsight/config/SecurityConfig.java
  backend-springboot/src/main/java/com/finsight/service/AuthenticationService.java
  backend-springboot/src/main/java/com/finsight/service/UserService.java
  backend-springboot/src/main/resources/application.properties
  docker-compose.yml
  env.example
  frontend-angular/Dockerfile
  frontend-angular/angular.json
  frontend-angular/src/app/components/login/login.component.html
  frontend-angular/src/app/components/login/login.component.scss
  frontend-angular/src/app/components/register/register.component.html
  frontend-angular/src/app/components/register/register.component.scss
  frontend-angular/src/app/components/request-detail/request-detail.component.html
  frontend-angular/src/app/components/request-detail/request-detail.component.ts
  frontend-angular/src/app/services/auth.service.ts
  frontend-angular/src/app/services/request.service.ts
  frontend-angular/src/environments/environment.prod.ts
  frontend-angular/src/environments/environment.ts
  setup-ports.sh
Due: backend:build, backend:test, backend:package, backend:docker, frontend:build, frontend:docker

Add .gitignore to exclude build artifacts
  .gitignore
Due: none

Fix build: Increase Angular bundle size budgets
  frontend-angular/angular.json
Due: frontend:build, frontend:docker

Fix backend health check: Use curl with Actuator endpoint
  backend-springboot/Dockerfile
  docker-compose.prod.yml
  docker-compose.yml
Due: backend:build, backend:test, backend:package, backend:docker

Fix CI/CD: Add docker-compose.ci.yml with H2 database for testing
  .github/workflows/ci.yml
  docker-compose.ci.yml
Due: none
